* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
}

header {
    display: flex;
    width: 100%;
    height: 10%;
    background-color: #333333;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    height: 80%;
    width: 80%;
    padding: 30px;
    justify-content: center;
    margin: 0 auto;
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 30%;
    width: 30%;
    border-radius: 10px;
    border: 1px solid black;
    padding: 10px;
    margin-top: 39px;
}

.block{
    display: flex;
    flex-direction: column;
    height: 25px;
    width: 100%;
}

.coments {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 20px;
}

.comment {
    display: flex;
    height: 20%;
    width: 100%;
    border-radius: 5px;
    border: 1px solid black;
    margin-left: 10px;
    background-color: #f4f4f4;
}

.sub_comment {
    display: flex;
    flex-direction: column;
    width: 75%;
    justify-content: space-evenly;
    padding: 20px;
}

#btn_like_1,#btn_like_2,#btn_like_3  {
    background-color: #f4d314;
    padding: 10px 15px 10px 15px;
    border: none;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.color_blue {
    color: blue;
}

.underline {
    text-decoration: underline;
}

.like {
    width: 25%;
    text-align: end;
    padding: 20px;
}

i.user_icon {
    font-size: 150px;

}

.title {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.subtitle{
    font-size: 30px;
    font-weight: bold;
}

.name{
    font-size: 25px;
    font-weight: 600;
}