* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    margin: 0 ;
    padding: 0;
}

#container{
    height: 100vh;
    width: 100vw;
}

.subcontent{
    display: flex;
    align-items: center;
    height:32%;
    width: 100%;
}

.subcontent:nth-child(1){
    background-color: yellow;
    justify-content:space-around;
}

.subcontent:nth-child(2){
    background-color: #66cbff ;
    justify-content:space-evenly;
}

.subcontent:nth-child(3){
    background-color: #ff6766;
    justify-content:space-around;
}

.abajo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    height: 4%;
    background-color: #99ff99;
}

img{
    height: 200px;
    width: 200px;
}