#root {
  width: 100%;
  height: 100vh;
  text-align: center;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1{
  color: #2f3f4e;
}

h2{
  color: #359a88;
}

ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li{
  text-align: left;
  font-size: 18px;
  margin-right: 130px;
}