* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh ;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container{
    height: 90%;
    width: 50%;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #ffffff;
}

.header{
    height: 20%;
    background-color:#00bcd5 ;
    border-radius: 15px 15px 0px 0px;
}

#container_img{
    height: 150px;
    width: 150px;
    display: flex;
    position: relative;
    top: 60%;
    left: 5%;
    float: left;
    img.round_image{
        max-height: 100%;
        max-width: 100%;
        border-radius: 50%;
        object-fit: cover;
        border: solid 1px white;
    }
}

main{
    display: flex;
    float: left;
    flex-direction: column;
    margin-top: 100px;
    padding: 50px;
}

.name,.country,.job,.description,.btn_edit{
    color: rgb(114, 113, 113);
    margin: 10px;
}

.name{
    color: black;
    font-size: 30px;
    font-weight: bold; 
}

.btn_edit{
    width: 100px;
    height: 40px;
    background-color: rgb(202, 201, 201);
    text-align: center;
    border: none;
    color: black;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}