* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s ease;
    text-decoration: none;
    list-style: none;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
	height: 100vh;
	width: 100%;
	font-family: sans-serif;
    background-color: azure;
    overflow: hidden;
}

#espacio{
    display: flex;
    position: relative;
    height: 800px;
    width: 1200px;
    background-image: url("img/lago.jpg");
}

.nave,.alien{
    position: absolute;
    width: 80px;
    height: 80px;
    background-size: contain;
    background-repeat: no-repeat;
}

.nave{
    background-image: url('img/ganzo.gif');
}

.alien{
    background-image: url('img/pan-removebg-preview.png');
}