* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;

}
.container{
    height: 100vh ;
    width: 100vw;
}

header{
    display: flex;
    color: white;
    font-size: 20px;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    height: 10%;
    width: 100%;
    background-color: #333333;
}

.menu{
    display: flex;
    width: 45%;
    justify-content: space-around;
    align-items: center;
    white-space: nowrap; 
    gap: 15px;
}

a{
    color: white;
}

#container_img{
    height: 150px;
    width: 150px;
    display: flex;
    position: relative;
    top: 60%;
    left: 5%;
    float: left;
    .round_image{
    border-radius: 50%;
    border: solid 1px white;
}
}

img{
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}
.content{
    display: flex;     
    flex-direction: column;
    width: 60%;
    height: 100%;  
}

main{
    display: flex;
    width: 100%;
    height: 90%;
    flex-direction: row;
    padding: 50px;
    justify-content: space-between;
}

.header_user{
    height: 30%;
    background-color:#00bcd5 ;
    border-radius: 15px 15px 0px 0px;
    box-shadow: 0 -4px 6px -2px rgba(0,0,0,0.2), -4px 0 6px -2px rgba(0,0,0,0.2), 4px 0 6px -2px rgba(0,0,0,0.2);  
}

.name,.country,.job,.btn_edit{
    margin: 10px;
}

button#btn_close{
    border-radius: 10px;
    background-color:#00bcd5 ;
    padding: 5px 20px 5px 20px;
    border: none;
    color: white;
}

.extra_information{
    display: flex;
    flex-direction: column;
    height: 25%;
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 40px;
    position: relative;
    bottom: 0px;
}

.p15B{
    padding-bottom: 15px;
}

.name{
    color: black;
    font-size: 30px;
    font-weight: bold; 
}

.btn_edit{
    width: 100px;
    height: 40px;
    background-color: rgb(202, 201, 201);
    text-align: center;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    
}



aside{    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
    height: 100%;
}

.solicitudes{
    display: flex;
    flex-direction: column;
    height: 30%;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
        
    i{
        color: #c937b3;
        font-size: 30px;
        padding: 10px;
        font-weight: 200px;
    }
}

.connection_person{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}

.container_img_connection{
    height: 150px;
    width: 150px;
    display: flex;
    position: relative;
    top: 60%;
    left: 5%;
    float: left; 
}

.square_image{
    max-height: 50px;
    max-width: 100%;
    border-radius: 10%;
    object-fit: cover;
    border: solid 2px #00bcd5;
}



.information{
    display: flex;
    width: 100%;
    height: 65%;
    flex-direction: column;
    padding: 20px;
    border-radius: 0 0 15px 15px ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    justify-content: flex-end;
}

.container_info{
    height: 75%;
    width: 100%;
}

.icons{
    display: flex;
    justify-content: space-evenly;
    width: 30%;
}

.center_text{
    width: 100%;
    text-align: center;
}

.connexions{
    display: flex;
    flex-direction: column;
    height: 60%;
    width: 100%;
    justify-content: space-between;
}

.sombras_y_redondeado{
    border-radius: 15px ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.person{
    display: flex;
    width: 100%;
    float: left;
    align-items: center;
    gap: 20PX;
    .round_image{
        border-radius: 50%;
        width: 50px;
        height: 50px;
        border: 1px solid black;
    }
}

.font_title,.font_information,.font_subtitle{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.p20{
    padding: 20px;
}
.p10{
    padding: 5px;
}

.m10R{
    margin-right: 10px;
}

.font_subtitle{
    font-weight: 600;
    font-size: 25px;
}

.font_information{
    font-weight: 400;
    font-size: 15px;
}

.letter_blue{
    color: #3491ca;
}