* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    margin: 0 ;
    padding: 0;
}

#container{
    display: block;
    height: 80vh ;
    width: 80vw;
    background-color: #eaeaea;
    padding: 20px;
    margin: 0 auto;
}

.top{
    height: 20%;
    width: 100%;
    background-color: yellow;
}

.main{
    display: inline-block;
    width: 72%;
    height: 70%;
    background-color: deeppink;
    padding: 30px;
    margin-top: 15px;
    text-align: center; 
    vertical-align: top; 
}

.sub-content{
    display: inline-block;
    height: 60%;
    width: 320px;
    background-color: mediumblue;
    margin-right: 0;
}

.main .sub-content:first-child{
    margin-right: 20px;
}
.main .sub-content:nth-child(2){
    margin-right: 20px;
}

.advertisement{
    height: 30%;
    width: 98%;
    background-color: #33cc33;
    margin: 40px 30px 20px 0px;
}

.side-nav{
    display: inline-block;
    height: 65%;
    width: 25%;
    background-color: #66ccff; 
    margin: 40px 10px 10px 20px;
}
