:root {
  height: 100vh;
  width: 100vw;
}

.input-container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  padding: 20px;
  align-items: center;
}

.tooltip-error {
  position: absolute;
  top: 100%;
  right: 0 ;
  background-color: #ff4d4d;
  color: white;
  padding: 6px 10px;
  border-radius: 5px;
  margin-top: 4px;
  white-space: nowrap;
  pointer-events: none;
  background: rgba(255, 77, 77, 0.9);
}

.is-invalid + .tooltip-error {
  opacity: 1;
  transform: translateY(-110px);
}

.form-control.is-invalid {
  border: 1px solid #ff4d4d;
}
